/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable */
:root {
    --bgc-color: #EEEEEE;
    --main-color: #686D76;
    --secondary-color: #373A40;
    --distinct-color: #DC5F00;

    --main-font: "Ubuntu", sans-serif;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

input[type="file"] {
    display: none;
}

/* Typography */

html {
    font-family: var(--main-font);
    font-size: 16px;
}

label {
    color: var(--bgc-color);
}

/* Style */

label {
    cursor: pointer;

    background-color: var(--distinct-color);
    
    padding: 15px;

    border-radius: 10px;
}