/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable */
:root {
    --bgc-color: #EEEEEE;
    --main-color: #686D76;
    --secondary-color: #373A40;
    --distinct-color: #DC5F00;

    --main-font: "Ubuntu", sans-serif;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

/* Typography */

/* Style */